*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
body{
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: rgb(31, 27, 27);
    font-family: "Red Rose", cursive;

}

nav ul {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:60px;
    line-style:none;
    

}


nav input{
    margin-right:100px;
    padding: 7px;
    width: 150px;
    
    border-radius:10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-size: larger;
    font-weight: 900;
    border:none;
    background-color: rgb(206, 100, 206);
    
    
}
nav input:hover{
    background-color:fuchsia;
}
nav ul li img{
    padding: 10px;
}
nav ul li a{
    color: whitesmoke;
    text-decoration: none;
}
main {
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.centermain{
    display:block;
    justify-content: center;
    align-items: center;
    margin-top:160px;

}
.centermain div {
    font-size: 100%;
    margin-left:20px;
}

.centermain h1{
    margin: 10px;
    font-size:400%;
    color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.centermain p{
    margin-bottom: 10px;
    margin-left: 80px;
    /* font-size: 100%; */
    font-size: x-large;
    color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
.centermain input{
    margin:40px 250px;
    border-radius:10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-size: larger;
    font-weight: 900;
    border:none;
    background-color: rgb(206, 100, 206);
    width: 220px;
    height:50px;

}
.centermain input:hover{
    background-color:fuchsia;
}


 